---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Project from "../components/Project.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("work")).sort(
	(a, b) => a.data.sortOrder - b.data.sortOrder
);
---

<Layout title="Home Page">
	<Hero />
	<About />
	<section id="work">
		{projects.map((project) => <Project project={project} />)}
	</section>
</Layout>
