<section class="bg-secondary text-primary" id="about">
	<div class="container">
		<div class="py-8 text-center">
			<div class="flex justify-between">
				<h3
					class="font-medium text-xs md:text-base invisible hidden md:block"
				>
					ABOUT
				</h3>

				<h3 class="font-medium text-xs md:text-base">
					RESEARCH + DESIGN STUDIO
				</h3>

				<h3 class="font-medium text-xs md:text-base">ABOUT</h3>
			</div>
			<p class="py-12 md:py-20 text-[28px] md:text-[40px]">
				Digitoile is a <span class="font-migra"
					>Research and Design Studio</span
				>, working with digital tools to explore alternative design
				processes for physical-digital fashion outcomes, <span
					class="font-migra"
					>founded by Kathy McGee in 2016.
				</span>
			</p>
		</div>
	</div>
</section>
