<footer class="bg-secondary text-primary">
	<div class="container">
		<div class="py-16">
			<div class="hidden md:block">
				<div class="flex gap-20 mb-10">
					<p class="flex-1 text-[26px]">
						Physical-digital fashion outcomes, founded by Kathy
						McGee in 2016.
					</p>

					<div class="flex-2 flex">
						<div class="flex-1 flex gap-4">
							<div class="w-[1px] h-[120px] bg-primary"></div>
							<a
								href="https://www.instagram.com/__digitoile__/?hl=en"
								class="transition-opacity hover:opacity-70"
								target="_blank"
								rel="noopener noreferrer">Instagram</a
							>
						</div>
						<div class="flex-1 flex gap-4">
							<div class="w-[1px] h-[120px] bg-primary"></div>
							<a
								href="https://www.linkedin.com/in/kathy-mcgee-90644730/"
								class="transition-opacity hover:opacity-70"
								target="_blank"
								rel="noopener noreferrer">LinkedIn</a
							>
						</div>
						<div class="flex-1 flex gap-4">
							<div class="w-[1px] h-[120px] bg-primary"></div>
							<a
								href="mailto:kathy@digitoile.co.uk"
								class="transition-opacity hover:opacity-70"
								>kathy@digitoile.co.uk</a
							>
						</div>
					</div>
				</div>
				<div>
					<img
						src="/assets/images/digitoile_logo_footer.svg"
						alt="Digitoile"
					/>
				</div>
			</div>
			<div class="md:hidden">
				<div class="mb-4">
					<img
						src="/assets/images/digitoile_logo_footer.svg"
						alt="Digitoile"
					/>
				</div>
				<p class="text-[22px]">
					Physical-digital fashion outcomes, founded by Kathy McGee in
					2016.
				</p>
				<hr class="border-primary my-6" />
				<div class="flex flex-wrap gap-4 text-[22px]">
					<a
						href="https://www.instagram.com/__digitoile__/?hl=en"
						class="transition-opacity hover:opacity-70"
						target="_blank"
						rel="noopener noreferrer">Instagram</a
					>
					<a
						href="https://www.linkedin.com/in/kathy-mcgee-90644730/"
						class="transition-opacity hover:opacity-70"
						target="_blank"
						rel="noopener noreferrer">LinkedIn</a
					>
					<a
						href="mailto:kathy@digitoile.co.uk"
						class="transition-opacity hover:opacity-70"
						>kathy@digitoile.co.uk</a
					>
				</div>
			</div>
		</div>
	</div>
</footer>
