<nav>
	<div class="container">
		<div class="relative flex h-28 items-center justify-between">
			<div class="flex flex-shrink-0 items-center">
				<img
					src="/assets/images/digitoile_icon_white.svg"
					alt="Digitoile"
					class="w-[28px] md:w-[43px]"
				/>
			</div>
			<div class="ml-auto">
				<div class="flex space-x-4 text-sm md:text-base">
					<a
						href="#about"
						class="px-3 py-2 font-medium text-white transition-opacity hover:opacity-70"
						aria-current="page">ABOUT</a
					>
					<a
						href="#work"
						class="px-3 py-2 font-medium text-white transition-opacity hover:opacity-70"
						>WORK</a
					>
					<a
						href="mailto:kathy@digitoile.co.uk"
						class="px-3 py-2 font-medium text-white transition-opacity hover:opacity-70"
						>CONTACT</a
					>
				</div>
			</div>
		</div>
	</div>
</nav>
